@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;    
    background-color: #f4f4f4;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    max-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2a172c;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 2rem;
    z-index: 1;
    border-bottom: #f4f4f4 4px solid;
}

.logoContenedor img{
    width: 100px;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    list-style: none;
    color: #a08b5b;
    padding-right: 28px;
}

.contactLinks {
    margin-left: 70px;
}

.contactDetails {
    color: #a08b5b;
    margin-left: 20px;
}

/* FIN HEADER */

/* SECTION PRINCIPAL*/

.imgPrincipal {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.imgContenedor {
    width: 100%;
    margin: 0 auto;
}

.imgPrincipalContacto {
    height: 60vh;
}

.titulo,
.parrafoTitulo {
    color: white;
    position: absolute;
}

.titulo {
    font-size: 10rem;
    margin-top: 34rem;
    padding: 15px 15px 15px 70px;
}

.parrafoTitulo {
    font-size: 2.5rem;
    margin-top: 47rem;
    padding: 15px 70px;
}

.imgIndex {
    max-width: 50rem;
}

/* FIN SECTION PRINCIPAL*/

/* CONTACTO */

.contenedorContactoPrincipal {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    max-width: 100%;
    margin: auto;
    text-align: center;
    background: url(../images/contacto2.jpg) center center/cover no-repeat fixed;
}

.contenedorContactoPrincipal h1 {
    color: white;
    font-size: 10rem;
}

.contenedorContactoPrincipal p {
    font-size: 3rem;
    color: white;
}

/* FIN CONTACTO */

/* SECTION INDEX */

.contenedorSectionIndex {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    max-width: 60%;
    margin: auto;
    text-align: center;
}

.contenedorSectionIndex2 {
    background: url(../images/3.jpg) center center/cover no-repeat fixed;
    max-width: 100%;
}

.contenedorSectionIndex2 div {
    display: flex;
    flex-direction: column;
    line-height: 2;
    max-width: 40%;
    margin: auto;
}

.titulo2 {
    color: #9a855b;
    font-size: 4rem;
}

.contenedorSectionIndex p {
    font-size: 1.8rem;
}

.contenedorSectionIndex2 p {
    color: white;
} 

.btn {
    background: #9a855b;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 24px;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
}

.btn a {
    text-decoration: none;
    color: white;
}

/* FIN SECTION INDEX */

/*GRID SECTION*/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60vh;
    align-items: center;
    text-align: center;
}

.gridContenedor {
    max-width: 70%;
    margin: auto;
    font-size: 1.8rem;
}

.gridNosotros {
    height: 180vh;
}

.gridBtn {
    display: flex;
    justify-content: center;
}

/* FOOTER */

footer {
    background-color: #2a172c;
    color: white;
    padding: 1.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
}

.textFooter {
    padding: .4rem;
    line-height: 2;
}

/* FIN FOOTER */

/* MEDIA QUERYS */

@media screen and (max-width: 600px) {
    
}

