@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.btn {
  background: #9a855b;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: .5rem 2.5rem;
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  -webkit-box-shadow: 2.5px 2.5px 5px black;
          box-shadow: 2.5px 2.5px 5px black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #806f49;
}

.btn a {
  text-decoration: none;
  color: white;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2a172c;
  background-repeat: no-repeat;
  font-size: 2rem;
  z-index: 5;
}

header .contactLinks {
  margin-left: 70px;
  font-size: 1.8rem;
}

header .contactLinks .contactDetails {
  color: #a08b5b;
  padding: 2rem;
  text-shadow: 2px 2px 1px #141414;
  -webkit-transition: color .5s;
  transition: color .5s;
}

header .contactLinks .contactDetails:hover {
  color: #f4f4f4;
}

header .contactLinks .contactDetails i {
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  transition: transform .4s ease-out, -webkit-transform .4s ease-out;
}

header .contactLinks .contactDetails i:hover {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

header .logoContenedor img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-right: 6rem;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  position: relative;
  display: block;
  padding: 0.2em 0;
  text-decoration: none;
  list-style: none;
  color: #a08b5b;
  padding: 2rem;
  text-shadow: 2px 2px 1px #141414;
  -webkit-transition: color .5s;
  transition: color .5s;
  overflow: hidden;
}

nav ul li a:hover {
  color: #f4f4f4;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #f4f4f4;
  opacity: 0;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.contactLinksMenu {
  display: none;
}

.menuBtn {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
  color: #f4f4f4;
}

.hr {
  display: none;
}

/* Fade in */
a:hover::after,
a:focus::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0.2em, 0);
          transform: translate3d(0, 0.2em, 0);
}

li a::after {
  opacity: 1px;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

li a:hover::after,
li a:focus::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

footer {
  background-color: #2a172c;
  color: white;
  padding: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.4rem;
}

.logoContenedor img {
  width: 100px;
}

.textFooter {
  line-height: 2;
}

/* Arreglando bootstrap */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3);
}

p {
  margin-bottom: inherit;
}

img {
  vertical-align: unset !important;
}

dl, ol, ul {
  margin-bottom: 0;
}

/* texto principal bootstrap*/
.main-text {
  position: absolute;
  width: 100%;
  top: 40%;
  color: #f4f4f4;
}

.main-text h1 {
  font-size: 9rem;
  font-weight: 600;
}

.main-text p {
  font-size: 5rem;
}

/* GLOBAL */
* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  background-color: #ebebeb;
}

.extra, html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

/* SECTION PRINCIPAL*/
.contenedorPrincipal {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.contenedorPrincipal h1 {
  color: #f4f4f4;
  font-size: 10rem;
}

.contenedorPrincipal p {
  font-size: 3rem;
  color: white;
}

/* imágenes */
.imgIndex {
  width: 75%;
  border: 2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.hoverImg {
  opacity: 1;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  -webkit-box-shadow: black 0px 20px 30px -10px;
          box-shadow: black 0px 20px 30px -10px;
}

.imgContainer:hover .hoverImg {
  -webkit-filter: grayscale(100%) blur(5px);
          filter: grayscale(100%) blur(5px);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.imgContainer:hover .middle {
  opacity: 1;
}

.overlay {
  color: black;
  font-size: 4.2rem;
  padding: .5rem 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
  background-color: #d8d6d46e;
}

.iconWsp {
  color: #a08b5b;
  padding: 2rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.iconWsp:hover {
  color: #806f49;
}

.iconDownContact {
  height: 35vh;
}

.iconDown {
  -webkit-animation: MoveUpDown 2s ease-in-out infinite;
          animation: MoveUpDown 2s ease-in-out infinite;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1.5rem;
  color: #a08b5b;
  padding: 2rem;
  text-shadow: 1px 1px 1px #141414;
}

.iconDown:hover {
  color: #806f49;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

/* FIN SECTION PRINCIPAL*/
/*GRID SECTION*/
.grid,
.gridBodega {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  min-height: 60vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.gridContenedor {
  max-width: 70%;
  margin: auto;
  font-size: 1.8rem;
  padding: 40px 0 50px 0;
}

.gridNosotros {
  min-height: 180vh;
}

.gridBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* FIN GRID */
/* SECTION INDEX */
.contenedorSectionIndex {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2;
  max-width: 60%;
  margin: auto;
  text-align: center;
}

.contenedorSectionIndex2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/3.jpg) center center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/3.jpg) center center/cover no-repeat fixed;
  max-width: 100%;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2;
  margin: auto;
  text-align: center;
}

.contenedorSectionIndex2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2;
  max-width: 45%;
  margin: auto;
}

.titulo2 {
  color: #9a855b;
  font-size: 5rem;
}

.contenedorSectionIndex p {
  font-size: 2rem;
}

.contenedorSectionIndex2 p {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* FIN INDEX */
/* SECTION NOSOTROS */
.contenedorPrincipalNosotros {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/nosotros2.jpg) center center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/nosotros2.jpg) center center/cover no-repeat;
}

.gridContenedor ul {
  list-style-type: none;
}

.titulo3 {
  color: #9a855b;
  font-size: 2.5rem;
  font-family: 'Rale';
}

.titulo2box {
  font-size: 4rem;
  font-weight: 400;
  font-family: 'Poppins';
}

/* FIN NOSOTROS */
/* SECTION TURISMO */
.contenedorPrincipalTurismo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/turismo1.jpg) center center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/turismo1.jpg) center center/cover no-repeat;
}

.contenedorSectionIndex2Turismo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/turismo4.jpg) center center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/turismo4.jpg) center center/cover no-repeat fixed;
}

.contenedorSectionIndex2Turismo div h2 {
  color: #fdca63;
}

.textLeft {
  text-align: left;
  margin-top: 1.5rem;
}

/* FIN TURISMO */
/* SECTION BODEGA */
.contenedorPrincipalBodega {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/bodega2.jpg) center center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/bodega2.jpg) center center/cover no-repeat;
}

.gridBodega {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.contenedorSectionBodega {
  background: url(../images/bodega6.jpg) center center/cover no-repeat fixed;
}

/* FIN BODEGA */
/* CONTACT SECTION */
.contenedorPrincipalContacto {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/contacto2.jpg) center center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/contacto2.jpg) center center/cover no-repeat fixed;
  min-height: 70vh;
}

/* FIN CONTACTO */
/* CONTACT FORM */
.form {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2.5;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239a855b' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.inputSelect {
  margin-top: 10px;
  color: #9a855b;
}

.inputSelect:focus {
  color: #9a855b;
  outline: none !important;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

.inputText {
  margin-top: 10px;
  width: 59%;
  resize: none;
}

.inputSend,
.inputReset {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
}

#submit,
#reset {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  padding: 10px 20px;
  font-weight: 500;
  margin: 0 0 0 20px;
  cursor: pointer;
}

#name::-webkit-input-placeholder,
#lastname::-webkit-input-placeholder,
#email::-webkit-input-placeholder,
.inputText::-webkit-input-placeholder {
  color: #9a855b;
}

#name:-ms-input-placeholder,
#lastname:-ms-input-placeholder,
#email:-ms-input-placeholder,
.inputText:-ms-input-placeholder {
  color: #9a855b;
}

#name::-ms-input-placeholder,
#lastname::-ms-input-placeholder,
#email::-ms-input-placeholder,
.inputText::-ms-input-placeholder {
  color: #9a855b;
}

#name::placeholder,
#lastname::placeholder,
#email::placeholder,
.inputText::placeholder {
  color: #9a855b;
}

#name,
#lastname,
#email {
  width: 30%;
}

.form div input,
.inputText {
  padding: 12px 8px 12px 8px;
  font-weight: normal;
  font-size: 2rem;
  border: 1px solid #a08b5b;
}

#name:focus,
#lastname:focus,
#email:focus,
.inputText:focus {
  color: #9a855b;
  outline: none !important;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

input, select, textarea {
  color: #9a855b;
}

#asunto {
  width: 59%;
  padding: 12px 8px 12px 8px;
  font-weight: normal;
  font-size: 2rem;
  border: 1px solid #a08b5b;
}

/* FIN CONTACT FORM */
/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/principal.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/principal3.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/principal3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/principal4.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/principal4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/principal2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/principal2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/principal6.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/principal6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}

/* MEDIA QUERYS */
@media only screen and (max-width: 1450px) {
  /* texto principal */
  .main-text h1 {
    font-size: 7rem;
  }
  .main-text p {
    font-size: 3.6rem;
  }
  header .logoContenedor img {
    position: static;
    top: none;
    left: none;
    -webkit-transform: none;
            transform: none;
  }
  .contenedorSectionIndex2 div,
  .contenedorSectionIndex {
    max-width: 70%;
  }
  .contenedorSectionIndex,
  .contenedorSectionIndex2 {
    padding: 40px 0 60px 0;
  }
  .contenedorPrincipal h1 {
    font-size: 9rem;
  }
  .contenedorPrincipal p {
    font-size: 2.7rem;
  }
  .gridContenedor {
    max-width: 80%;
  }
  /* NOSOTROS */
  .titulo3 {
    font-size: 2.2rem;
  }
  .titulo2box {
    font-size: 3.6rem;
  }
  /* TURISMO */
  .contenedorSectionTurismo {
    min-height: 40vh;
  }
  /* FORM */
  .form {
    padding: 5rem 0;
  }
  /* NAV RESPONSIVE */
  nav ul {
    margin-right: 2rem;
  }
  nav ul li a {
    padding: 1rem;
  }
  .contactLinks {
    margin-left: 40px;
    font-size: 1.4rem;
  }
  .contactDetails {
    color: #a08b5b;
    padding: 1.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  /* SECTION BODEGA */
  .gridBodega {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 769px) {
  /* carrusel */
  .carousel-item:nth-child(3) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/principal44.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/principal44.jpg);
  }
  .carousel-item:nth-child(4) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/principal22.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/principal22.jpg);
  }
  /* HEADER */
  /* texto principal */
  .main-text h1 {
    font-size: 4.5rem;
  }
  .main-text p {
    font-size: 2.5rem;
  }
  .contactLinks {
    display: none;
  }
  .menuBtn {
    display: block;
  }
  .logoHeader {
    padding: 6px 0 0px 15px;
  }
  .titulo2 {
    font-size: 3.8rem;
  }
  .contenedorSectionIndex p,
  .contenedorSectionIndex2 p {
    font-size: 1.7rem;
  }
  /* MENU BURGER */
  .navMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.9;
    line-height: 3;
    padding: 30px;
    -webkit-transform: translate(50px, 34px);
            transform: translate(50px, 34px);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s,visibility 0s .5s;
    transition: opacity .2s,visibility 0s .5s;
  }
  .contactLinksMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactLinksMenu a {
    margin: 0 2rem 0 2rem;
  }
  .hr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: .1rem;
    margin: 2rem 0 1rem 0;
    background-color: #9a855b;
    border: none;
    width: 90%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .show {
    /* transform: translate(650px,38px);  <--- alternativa de menú desplazable 
        display: flex; */
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  nav ul li a {
    font-size: 2.5rem;
  }
  /* SECTIONS */
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .imgIndex {
    /* <------ imágenes de sections */
    width: 90%;
    margin: 40px 0;
  }
  .contenedorSectionIndex2 div,
  .contenedorSectionIndex {
    max-width: 90%;
  }
  .contenedorSectionIndex,
  .contenedorSectionIndex2 {
    padding: 40px 0 60px 0;
  }
  .contenedorPrincipal h1 {
    font-size: 5.7rem;
  }
  .contenedorPrincipal p {
    font-size: 2.2rem;
  }
  .gridContenedor {
    max-width: 90%;
  }
  .textFooter {
    font-size: 1.2rem;
  }
  .contenedorSectionIndex2Turismo {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url(../images/turismo44.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../images/turismo44.jpg);
  }
  /* FORM */
  .form {
    min-height: 60vh;
  }
  .inputContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 84%;
  }
  .inputText {
    width: 84%;
  }
  #name,
  #lastname,
  #email {
    width: 100%;
    margin-top: 10px;
  }
  .form div input,
  .inputText {
    padding: 9px 7px 9px 7px;
    font-size: 1.5rem;
  }
  #submit,
  #reset {
    font-size: 1.5rem;
    padding: 8px 17px;
  }
  #asunto {
    padding: 9px 8px 9px 8px;
    font-size: 1.5rem;
    width: 83.4%;
    background: white;
  }
  /* overlay bodega imagenes */
  .overlay {
    font-size: 3rem;
    padding: .4rem .7rem;
  }
}
/*# sourceMappingURL=style.css.map */