$color-dorado: #a08b5b;
$color-dorado2: #806f49;
$color-dorado3: #9a855b;
$color-blanco: #f4f4f4;
$gradiente-filtro: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
$sombra-texto: 1px 1px 1px #141414;